.mavian-scroll-container {
  position: relative;
  background: #fafafa;
  isolation: isolate;
   transition: 0.6s ease;
}

.mavian-scroll-container::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2;
  background-image: var(--factory-src);
  background-size: cover;
  background-position: center;
  opacity: 0.12;
  background: #fafafa;

}
.extra_text{
  font-style:italic;
}

.mavian-scroll-container::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
    background: #fafafa;
}

.mavian-main-content {
  width: min(1180px, calc(100% - 48px));
  margin: 0 auto;
  padding: 50px 0;
}

.mavian-scroll-section {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(320px, 430px) minmax(0, 1fr);
  gap: 50px;
  opacity: 0;
  /* transform: translateY(30px); */
  transition: 0.6s ease;
}

.mavian-scroll-section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Professional Image */

.mavian-image-panel {
  overflow: hidden;
  border-radius: 16px;
  background: #fff;
  padding: 18px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.mavian-image-panel img {
  width: 100%;
  display: block;
  object-fit: contain;
  transition: transform .45s ease;
  box-shadow: none;
   border:3px solid #fff;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.mavian-image-panel:hover img {
  transform: scale(1.05);
}

/* Content */

.mavian-tag {
  display: inline-block;
  margin-bottom: 20px;
  color: #ff7800;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: .18em;
  font-family: "Lato", sans-serif;
}

.mavian-premium-content h2 {
  margin-bottom: 18px;
  color: #0d5b43;
  font-size: 36px;
  font-family: "Lato", sans-serif;
}

.mavian-premium-content p {
  color: #000;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Lato", sans-serif;
  text-align:justify;
}
@media (max-width:900px){

  .mavian-main-content{
    width:calc(100% - 30px);
  }

  .mavian-scroll-section{
    grid-template-columns:1fr;
    gap:35px;
  }

  .mavian-premium-content{
    order:1;
    text-align:justify;
  }

  .mavian-image-panel{
    order:2;
    max-width:420px;
    margin:auto;
  }

  .mavian-premium-content h2{
    font-size:36px;
  }
}

@media (max-width:600px){

  .mavian-main-content{
    width:calc(100% - 20px);
    padding:35px 0;
  }

  .mavian-premium-content h2{
    font-size:28px;
  }

  .mavian-premium-content p{
    font-size:15px;
  }

  .mavian-image-panel{
    padding:12px;
  }
}